<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="assignments.css">
</head>
<body>
   <div class="template">
    <div class="section1">
        <div class="question">
            <h1>Binary Search Tree</h1>
            <p>A binary search tree is a tree data structure, in which each node contains a key value, and the binary search tree invariant requires that the left subtree of a node contains only nodes with keys less than the node's key, and the right subtree of a node contains only nodes with keys greater than the node's key.</p>
            
            <h2>Implementation</h2>
            <p>Here are the following operations that can be performed on a binary search tree:</p>
            <ul>
                <li><b>Insert</b>: Insert a new key into the binary search tree.</li>
                <li><b>Delete</b>: Delete a key from the binary search tree.</li>
                <li><b>Display(inorder)</b>: Display the nodes of the binary search tree in inorder traversal.</li>
                <li><b>Search</b>: Search for a key in the binary search tree.</li>
                <li><b>BFS(Level wise print)</b>: Print the nodes of the binary search tree level-wise.</li>
            </ul>
        </div>
        <div class="testcases">

        </div>
    </div>
    

    <div class="codeeditor">
        <div data-pym-src="https://www.jdoodle.com/embed/v0/2IhG?stdin=1&arg=0" > </div>
    </div>
    </div>

   <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script> 
    
</body>
</html>